.infocardContainer {
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
     padding-left:30px;
	justify-content: space-around;
	height: 130px;
	width: 250px;
	border-radius: 50%;
	background: rgba(58, 56, 56, 0.3);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(12.5px);
	-webkit-backdrop-filter: blur(12.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	transition: all 0.3s ease-in;
	/* outline: 1px solid red; */
}
.infocardContainer div * {
	margin: 0 !important;
	display: flex;
	overflow: hidden;
	text-overflow: hidden;
	color: white;
	white-space: nowrap;
	width: 200px;
	height: auto;
	transition: all 0.3s ease-in;
	transition-delay: 0.5s;
	padding-top: 0.5rem;
}
.infocardContainer img {
	width: 80px;
	margin: 0 !important;
	border-radius: 5px;
}

.logoutBTN {
	padding: 0.5rem;
	width: 60px !important;
	color: rgb(255, 255, 255);
	background-color: #ea512e;
	border-radius: 5px;
	cursor: pointer;
	border: none;
}
.logoutBTN :hover {
	background-color: #f5890d;
}

a {
	text-decoration: none;
}
.image {
	position: absolute;
	border-radius: 20px;
	border: brown solid 3px;
	left: 21%;
	bottom: 150px;
	z-index: 99;
	width: 60%;
}
